.Background{
    display:flex;
    flex-direction: row;
    position:fixed;
    top:0;
    width:100%;
    height:75px;
    background-color: rgb(172, 169, 176);
}

.Background_textheader{
    color:white;
    margin-left:20px;
    height:30px;
    margin-top: 10px;
    background-color:transparent;
    padding: 0px;
    font-size: 50px;
    height:40px;
    border-color: transparent;
    font-weight: 100;

}
.Background_nav{
    color:white;
    margin-left: 30px;
    height:30px;
    margin-top:25px;
    background-color:transparent;
    padding: 0px;
    font-size: 30px;
    height:40px;
    border-color: transparent;
    font-weight: 100;
    text-decoration: none;
}

.Background_nav:hover{
    cursor: pointer;
    color: black;
    transition: 1s;
}
.Background_textheader:hover{
    cursor:pointer;
}
.Background_icon1{
    color:white;
    font-size:50px;
    margin-top: 10px;
    margin-left: 20px;
    
}
.Background_icon2{
    color:white;
    font-size: 50px;
    margin-left: 27%;
    margin-top: 10px;
}
.Background_icon2:hover{
    cursor:pointer;
}
.Background_button1{
    color:white;
    margin-left: 37%;
    height:30px;
    margin-top:12px;
    background-color:transparent;
    padding: 0px;
    font-size: 30px;
    height:40px;
    border-color: transparent;
    font-weight: 100;
    border:1px solid white;
    height: 50px;
    width:140px;
    border-radius:3px;
}
.Background_button1:hover{
    background-color: white;
    color:black;
    transition: 1s;
    cursor:pointer;
}
.Background_button2{
    color:white;
    margin-left: 1%;
    height:30px;
    margin-top:25px;
    background-color:transparent;
    padding: 0px;
    font-size: 32px;
    height:40px;
    border-color: transparent;
    font-weight: 100;
}

.Background_button2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.Background_bar{
    font-size: 2rem;
    color:white;
    display: none;
    
}
.Background_bar:hover{
    background-color: turquoise;
    cursor: pointer;
}
.Background_bar_container{
    top:-100%;
    
}
.Background_bar_container.active{
    top:0;
    
}
.Background_bar_item{
    font-size:20px;
    height:50px;
    width:130px;
    border-color: transparent;
    padding: 0px;
    font-weight: 900;
    display:none;
    
}
.Background_bar_item:hover{
    background-color: turquoise;
    cursor:pointer;
}
.Background_bar_list{
    display:flex;
    flex-direction: column;
}

@media screen and (max-width:500px){
    .Background{
        display:flex;
        flex-direction: row;
        position:fixed;
        top:0;
        width:100%;
        height:75px;
        background-color: rgb(172, 169, 176);
    }
    
    .Background_textheader{
        color:white;
        margin-left:5px;
        height:30px;
        margin-top: 15px;
        background-color:transparent;
        padding: 0px;
        font-size: 20px;
        height:40px;
        border-color: transparent;
        font-weight: 100;
        
    
    }
    .Background_nav{
        display:none
    }
    
    
    .Background_textheader:hover{
        cursor:pointer;
    }
    .Background_icon1{
        color:white;
        font-size:30px;
        margin-top: 20px;
        margin-left: 10px;
        
    }
    .Background_icon2{
        color:white;
        font-size: 20px;
        margin-left: 10px;
        margin-top: 25px;
        display: none;
    }
    .Background_icon2:hover{
        cursor:pointer;
    }
    .Background_button1{
        display:none;
        border-radius:3px;
    }
    
    .Background_button2{
        display:none;
    }
    .Background_bar{
        display: block;
        margin-left: 210px;
        margin-top: 20px;
    }
    .Background_bar_item{
        display:block;
    }
    .Background_bar_list{
        margin-left: 80px;
    }
    

}
@media screen and (max-width:1270px) and (min-width:501px){
    .Background{
        display:flex;
        flex-direction: row;
        position:fixed;
        top:0;
        width:100%;
        height:75px;
        background-color: rgb(172, 169, 176);
    }
    
    .Background_textheader{
        color:white;
        margin-left:5px;
        height:30px;
        margin-top: 15px;
        background-color:transparent;
        padding: 0px;
        font-size: 20px;
        height:40px;
        border-color: transparent;
        font-weight: 100;
        
    
    }
    .Background_nav{
        display:none
    }
    
    
    .Background_textheader:hover{
        cursor:pointer;
    }
    .Background_icon1{
        color:white;
        font-size:30px;
        margin-top: 20px;
        margin-left: 10px;
        
    }
    .Background_icon2{
        color:white;
        font-size: 20px;
        margin-left: 10px;
        margin-top: 50px;
        display: none;
    }
    .Background_icon2:hover{
        cursor:pointer;
    }
    .Background_button1{
        display:none;
        border-radius:3px;
    }
    
    .Background_button2{
        display:none;
    }
    .Background_bar{
        display:block;
        margin-left: 350px;
        margin-top: 20px;
    }
    .Background_bar_list{
        margin-left: 300px;
    }
    .Background_bar_item{
        display:block;
    }
}