.Image{
    background-image: url('../Images/maxresdefault.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    height:420px;    
    padding: 0px;
    border-width: 0px;
    margin:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.Image_text{
    font-weight: 200;
    color:white;
}